1. Webpack (imports / exports)
    Babel
    SASS (SCSS)
    ESLint
    2 - Modes
        - Dev
            Dev Server, SourceMaps, ESLint, Not Minified JS & CSS
        - Prod
            Minified Code

2. Git
    Production
        2.0.0
        0 ---------------
    Development
        2.0.2
        1 ---------------  PR+
        2 ---------------+++